/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-work {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3rem;

	.wp-block-work-section-image-container {
		width: 60%;
	}

	.wp-block-work-text-container {
		width: 40%;
	}

	.wp-block-work-section-button {
		background-color: #fbaf01;
		padding: 0.5rem 2rem;
		margin-top: 1rem;
		text-decoration: none;
	}

	.wp-block-work-section-button1 {
		margin-right: 0.5rem;
	}
}

@media (max-width: 1025px) {
	.wp-block-create-block-work {
		flex-direction: column;

		.wp-block-work-section-image-container {
			width: 100%;
		}

		.wp-block-work-text-container {
			width: 100%;
		}
	}
}
